html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffcd3a;
}

div, h2, p {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Work Sans', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 14vh;
    top: 0;
    margin: 0;
    transition: top 0.2s ease-in-out;
    background-color: #2c2c2c;
    z-index: 101;
}

.headerHidden {
    top: -14vh;
}

.headerTitle {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.4em;
    color: #ffcd3a;
}

.headerLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    padding-right: 1.6em;
    color: #ffcd3a;
}

.headerLink {
    display: inline-block;
    padding: 0 1.4em;
    cursor: pointer;
}

.headerLink:hover {
    color: #6e6e6e;
}

.headerLink:focus {
    color: #ffcd3a;
    outline: none;
}

#top {
    background-color: #2c2c2c;
    padding: 2em;
}

.eyeContainer {
    display: flex;
    position: relative;
    height: 30vw;
    min-height: 20em;
    justify-content: center;
    align-items: center;
}

.topTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    color: #ffcd3a;
    padding-bottom: 2em;
}

.title {
    text-align: center;
    padding: 3em 2em;
    font-family: 'Baloo Bhaijaan', cursive;
}

.sectionContent {
    padding: 0 0 2.4em 0;
    margin: 0 2em 0 2em;
    border-bottom: 1px solid #2c2c2c;
}

.removeBorder {
    border: none;
}

.aboutContent {
    display: flex;
    flex-direction: row;
}

.aboutImage {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutImage img {
    width: 56%;
    height: auto;
    margin: auto;
}

.aboutText {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.project {
    margin-top: 5.4em;
}

.project:first-of-type {
    margin-top: 0;
}

.projectTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4em 0;
}

.projectTitle h2, a {
     font-family: "Work Sans", sans-serif;
     color: #2c2c2c;
     text-decoration: none;
 }

.projectTitle a {
    font-size: 1.6em;
    margin-left: 0.6em;
    padding: 0;
}

.projectTitle a:hover {
    color: #6e6e6e;
}

.projectTitle a:focus {
    outline: none;
}

.projectTitle a:visited {
    color: #2c2c2c;
}

.projectContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.8em;
}

.projectImage {
    flex: 1;
    min-width: 20em;
    text-align: center;
}

.projectImage img {
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
}

.badge {
    width: 4.6em;
    height: auto;
}

.portrait {
    max-height: 18.5em;
}

.portrait img {
    height: 100%;
    width: auto;
    margin: auto;
}

.projectText {
    flex: 1;
    min-width: 16em;
    padding: 1em;
}

.skillContainer {
    position: relative;
    height: 36vw;
}

.skill {
    position: absolute;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border: 8px solid #2c2c2c;
    color: #ffcd3a;
}

.skill p {
    font-family: 'Work Sans', sans-serif
}

.contactInfo {
    list-style: none;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.contactInfo li {
    padding: 0.15em 0;
}

.contactLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contactLinks a {
    font-size: 3em;
    padding: 0.5em;
    text-decoration: none;
    color: #2c2c2c;
}

.contactLinks a:visited {
    color: #2c2c2c;
}

.contactLinks a:hover {
    color: #6e6e6e;
    outline: none;
}

.contactLinks a:focus {
    outline: none;
}

.footer {
    display: flex;
    width: 100%;
    height: 4em;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: #ffcd3a;
}

/************ EYE ************/

.outerEye {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 14vw;
    height: 14vw;
    border: 1em solid #ffcd3a;
    border-radius: 0 70%;
    transform: rotate(-45deg);
    margin: auto;
    z-index: 100;
}

.iris {
    width: 9vw;
    height: 9vw;
    position: relative;
    border: 0.6em solid #ffcd3a;
    border-radius: 24vw;
    margin: auto;
}

.iris span {
    display: block;
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 24vw;
    background: #ffcd3a;
}

/************ SKILL-BUBBLES ************/

#java {
    bottom: 1%;
    left: 33.5%;
    width: 11vw;
    height: 11vw;
}

#android {
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
    width: 7vw;
    height: 7vw;
}

#javascript {
    top: 6%;
    right: 28%;
    width: 13vw;
    height: 13vw;
}

#react {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10vw;
    height: 10vw;
}

#html5 {
    bottom: 39%;
    left: 31%;
    width: 7vw;
    height: 7vw;
}

#css {
    bottom: 4%;
    right: 43%;
    width: 6vw;
    height: 6vw;
}

#php {
    bottom: 1%;
    right: 36%;
    width: 4vw;
    height: 4vw;
}

#mysql {
    top: 10%;
    left: 36%;
    width: 6vw;
    height: 6vw;
}

#mongodb {
    bottom: 21%;
    right: 33.5%;
    width: 8vw;
    height: 8vw;
}

/************ ANIMATIONS ************/

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceInSlow {
    animation-name: bounceIn;
    animation-duration: 4s;
}

.bounceInNormal {
    animation-name: bounceIn;
    animation-duration: 3s;
}

.bounceInFast {
    animation-name: bounceIn;
    animation-duration: 2s;
}

/************ MEDIA CAPTURES ************/

@media screen and (max-width: 600px) {

    .header {
        height: 6.4em;
    }

    .headerHidden {
        top: -6.4em;
    }

    .headerLinks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {

    .skillContainer {
        height: 60vw;
    }

    .skill {
        font-size: 0.75em;
    }

    #java {
        bottom: 3%;
        left: 17%;
        width: 16vw;
        height: 16vw;
    }

    #android {
        top: 4%;
        right: 12%;
        margin: auto;
        width: 12vw;
        height: 12vw;
    }

    #javascript {
        top: 1%;
        right: 16%;
        width: 18vw;
        height: 18vw;
    }

    #react {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 15vw;
        height: 15vw;
    }

    #html5 {
        bottom: 41%;
        left: 15%;
        width: 12vw;
        height: 12vw;
    }

    #css {
        bottom: 4%;
        right: 36%;
        width: 11vw;
        height: 11vw;
    }

    #php {
        bottom: 1%;
        right: 16%;
        width: 9vw;
        height: 9vw;
    }

    #mysql {
        top: 3%;
        left: 12%;
        width: 11vw;
        height: 11vw;
    }

    #mongodb {
        bottom: 27%;
        right: 15%;
        width: 13vw;
        height: 13vw;
    }
}