:root {
  --background-color: #FFFFFF;
  --text-color: #333333;
  --accent-color: #9A226A;
  --default-font: 'Work Sans', sans-serif;
  --shadow: 1px 1px 6px #777777;
  --header-height: 80px;
}

body {
  background-color: var(--background-color);
  font-family: var(--default-font);
  height: 100vh;
  margin: 0;
  overflow: auto;
  padding: var(--header-height) 0 0;
  position: relative;
  width: 100vw;
}

#header {
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: var(--header-height);
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

#header.hidden {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

#header > h2 {
  align-self: center;
  color: var(--text-color);
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 1.2em;
  padding: 0 1em;
  white-space: nowrap;
}

#header > ul {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-content: center;
  list-style: none;
}

#header > ul > li {
  color: var(--text-color);
  cursor: pointer;
  padding: 0 1.4em;
}

#header > ul > li:hover {
  color: var(--accent-color);
}

#header > ul > li:focus {
  color: var(--accent-color);
  outline: none;
}

section {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

#about {
  align-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: min-content minmax(min-content, 400px);
  grid-template-rows: 1fr;
  justify-content: center;
}

#about > img {
  height: auto;
  width: 100px;
}

#skills > h2 {
  margin-bottom: 20px;
}

.skill {
  align-items: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: ascend;
  background-color: var(--background-color);
  border-radius: 50%;
  color: var(--text-color);
  display: grid;
  height: 100px;
  justify-items: center;
  position: absolute;
  width: 100px;
  transform: translate(-50%, -50%);
}

#react {
  top: calc(50% - 300px);
  right: calc(50% - 300px);;
  height: 300px;
  width: 300px;
}

#ts {
  top: calc(50% - 270px);
  left: calc(50% - 270px);;
  height: 270px;
  width: 270px;
}

#js {
  top: 50%;
  left: 50%;
  height: 250px;
  width: 250px;
}

#sql {
  top: calc(60px + 300px + 270px);
  left: 30px;
  height: 200px;
  width: 200px;
}

#mongodb {
  top: 60px;
  left: calc(30px + 300px + 250px);
  height: 170px;
  width: 170px;
}

#java {
  top: calc(60px + 300px + 270px);
  left: calc(30px + 300px + 250px);
  height: 150px;
  width: 150px;
  // transform: translate(-50%, 0);
}

#android {
  top: 50%;
  right: 20px;
  height: 150px;
  width: 150px;
  transform: translate(0, -50%);
}

#php {
  bottom: 20px;
  left: 60%;
  height: 150px;
  width: 150px;
}

#aws {
  bottom: 20px;
  left: 20%;
  height: 150px;
  width: 150px;
}

#docker {
  top: 50%;
  left: 20px;
  height: 150px;
  width: 150px;
  transform: translate(0, -50%);
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.project {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  margin-top: 1em;
  width: 100%;
}

.project:first-of-type {
  margin-top: 0;
}

.project > img {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: auto;
  max-height: 18.5em;
  margin: auto;
  width: auto;
}

.landscape {
  width: 70%;
}

.project-title {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-template-rows: 1fr;
  padding: 0.5em 0;
}

.project-title > * {
  color: var(--accent-color);;
  font-family: var(--default-font);
  text-decoration: none;
}

.project-title > a {
  color: var(--text-color);
  font-size: 1.5em;
  margin-left: 0.5em;
}

.project-title > a:hover {
  color: var(--accent-color);
}

.project-title > a:focus {
  outline: none;
}

.project-title > a:visited {
  color: var(--accent-color);
}

.badge {
  height: auto;
  width: 4.5em;
}

.project > p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.tags {
  display: flex;
  font-family: var(--default-font);
  font-size: 0.8em;
  grid-column: 2 / 3;
  grid-template-rows: 1fr;
  grid-row: 3 / 4;
  list-style: none;
}

.tag {
  background-color: #ff9e28;
  border: 1px solid #ff9e28;
  border-radius: 6px;
  margin: 0.2em 0.5em 0.2em 0;
  padding: 0.5em 1em;
  white-space: nowrap;
}

#contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-links {
  display: grid;
  grid-template-columns: repeat(2, min-content);
}

#contact-links > a {
  font-size: 3em;
  padding: 0.5em;
  text-decoration: none;
}

#contact-links > a:hover {
  color: var(--accent-color);
  outline: none;
}

#contact-links > a:focus {
  outline: none;
}

#contact-links > a:visited {
  color: var(--text-color);
}

#footer {
  align-items: center;
  background-color: var(--background-color);
  display: grid;
  height: 4em;
  justify-items: center;
  width: 100%;
}

@media screen and (min-width: 800px) {

}

@keyframes ascend {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--shadow);
  }
}

@keyframes descend {
  from {
    box-shadow: var(--shadow);
  }
  to {
    box-shadow: none;
  }
}
