:root {
  --background-color: #FFFFFF;
  --text-color: #333333;
  --accent-color: #9A226A;
  --default-font: 'Work Sans', sans-serif;
  --shadow: 1px 1px 6px #777777;
  --frontend-animation-border-radius: 5px;
  --frontend-animation-duration: 1.5s;
}

body {
  background-color: var(--background-color);
  font-family: var(--default-font);
  height: 100vh;
  margin: 0;
  overflow: auto;
  position: relative;
  width: 100vw;
}

section {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

#about {
  align-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: min-content minmax(min-content, 400px);
  justify-content: center;
}

#about > img {
  height: auto;
  width: 100px;
}

#frontend {
  align-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: minmax(min-content, 500px) min-content;
  justify-content: center;
}

#frontend-animation {
  height: 200px;
  position: relative;
  width: 300px;
}

#frontend-animation-header {
  animation-duration: var(--frontend-animation-duration);
  animation-iteration-count: infinite;
  animation-name: frontend-header;
  background-color: lightgrey;
  border-top-left-radius: var(--frontend-animation-border-radius);
  border-top-right-radius: var(--frontend-animation-border-radius);
  height: 20%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes frontend-header {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#frontend-animation-header > span {
  animation-duration: var(--frontend-animation-duration);
  animation-iteration-count: infinite;
  animation-name: frontend-header-ball;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  top: 25%;
  width: 20px;
}

#frontend-animation-header > span:nth-last-of-type(1) {
  background-color: red;
  left: 5%;
}

#frontend-animation-header > span:nth-last-of-type(2) {
  background-color: yellow;
  left: 15%;
}

#frontend-animation-header > span:nth-last-of-type(3) {
  background-color: forestgreen;
  left: 25%;
}

@keyframes frontend-header-ball {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#frontend-animation-body-left {
  animation-duration: var(--frontend-animation-duration);
  animation-iteration-count: infinite;
  animation-name: frontend-body-left;
  background-color: lightblue;
  border-bottom-left-radius: var(--frontend-animation-border-radius);
  height: 80%;
  left: 0;
  position: absolute;
  top: 20%;
  width: 80%;
}

@keyframes frontend-body-left {
  from {
    opacity: 0;
    transform: translate(-20px, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

#frontend-animation-body-right {
  animation-duration: var(--frontend-animation-duration);
  animation-iteration-count: infinite;
  animation-name: frontend-body-right;
  background-color: lightpink;
  border-bottom-right-radius: var(--frontend-animation-border-radius);
  height: 80%;
  left: 80%;
  position: absolute;
  top: 20%;
  width: 20%;
}

@keyframes frontend-body-right {
  from {
    opacity: 0;
    transform: translate(30px, 40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}


#skills > h2 {
  margin-bottom: 20px;
}

.skill {
  align-items: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: ascend;
  background-color: var(--background-color);
  border-radius: 50%;
  color: var(--text-color);
  display: grid;
  height: 100px;
  justify-items: center;
  position: absolute;
  width: 100px;
  transform: translate(-50%, -50%);
}

#react {
  top: calc(50% - 300px);
  right: calc(50% - 300px);;
  height: 300px;
  width: 300px;
}

#ts {
  top: calc(50% - 270px);
  left: calc(50% - 270px);;
  height: 270px;
  width: 270px;
}

#js {
  top: 50%;
  left: 50%;
  height: 250px;
  width: 250px;
}

#sql {
  top: calc(60px + 300px + 270px);
  left: 30px;
  height: 200px;
  width: 200px;
}

#mongodb {
  top: 60px;
  left: calc(30px + 300px + 250px);
  height: 170px;
  width: 170px;
}

#java {
  top: calc(60px + 300px + 270px);
  left: calc(30px + 300px + 250px);
  height: 150px;
  width: 150px;
  // transform: translate(-50%, 0);
}

#android {
  top: 50%;
  right: 20px;
  height: 150px;
  width: 150px;
  transform: translate(0, -50%);
}

#php {
  bottom: 20px;
  left: 60%;
  height: 150px;
  width: 150px;
}

#aws {
  bottom: 20px;
  left: 20%;
  height: 150px;
  width: 150px;
}

#docker {
  top: 50%;
  left: 20px;
  height: 150px;
  width: 150px;
  transform: translate(0, -50%);
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.project {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  margin-top: 1em;
  width: 100%;
}

.project:first-of-type {
  margin-top: 0;
}

.project > img {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: auto;
  max-height: 18.5em;
  margin: auto;
  width: auto;
}

.landscape {
  width: 70%;
}

.project-title {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-template-rows: 1fr;
  padding: 0.5em 0;
}

.project-title > * {
  color: var(--accent-color);;
  font-family: var(--default-font);
  text-decoration: none;
}

.project-title > a {
  color: var(--text-color);
  font-size: 1.5em;
  margin-left: 0.5em;
}

.project-title > a:hover {
  color: var(--accent-color);
}

.project-title > a:focus {
  outline: none;
}

.project-title > a:visited {
  color: var(--accent-color);
}

.badge {
  height: auto;
  width: 4.5em;
}

.project > p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.tags {
  display: flex;
  font-family: var(--default-font);
  font-size: 0.8em;
  grid-column: 2 / 3;
  grid-template-rows: 1fr;
  grid-row: 3 / 4;
  list-style: none;
}

.tag {
  background-color: #ff9e28;
  border: 1px solid #ff9e28;
  border-radius: 6px;
  margin: 0.2em 0.5em 0.2em 0;
  padding: 0.5em 1em;
  white-space: nowrap;
}

#contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-links {
  display: grid;
  grid-template-columns: repeat(2, min-content);
}

#contact-links > a {
  font-size: 3em;
  padding: 0.5em;
  text-decoration: none;
}

#contact-links > a:hover {
  color: var(--accent-color);
  outline: none;
}

#contact-links > a:focus {
  outline: none;
}

#contact-links > a:visited {
  color: var(--text-color);
}

#footer {
  align-items: center;
  background-color: var(--background-color);
  display: grid;
  height: 4em;
  justify-items: center;
  width: 100%;
}

@media screen and (min-width: 800px) {

}

@keyframes ascend {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--shadow);
  }
}

@keyframes descend {
  from {
    box-shadow: var(--shadow);
  }
  to {
    box-shadow: none;
  }
}
